.container {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.first {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #00A9FF;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.photoid {
    border: 10px solid #89CFF3;
    border-radius: 10%;
}
.second {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #89CFF3;
    padding-top: 5px;
}
.firsttwosections {
    margin: 0 10%;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
h2 {
    padding-top: 10px;
}
.butt {
    margin: 20px auto;
    width: 200px;
    background-color: black;
    padding: 3px;
}
a {
    text-decoration: none;
    color:whitesmoke;
}
a:hover {
    background-color:  #89CFF3;
}
.third {
    background-color: #A0E9FF;
}
.level3{
    text-align: center;
}
.part {
    display: inline;
    width: 45%;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
.project1 {
    float: left;
    padding-left: 10px;
    margin-right: 5%;

}
.project2 {
    float: left;
}
.image {
    float: left;
    padding-right: 20px;
    height: 300px;
    width: 100%;
    margin-bottom: 10px;

}
.fourth {
    background-color: #CDF5FD;
    padding-left: 10px;
}
.intouch {
    text-align: center;
}
.black {
    background-color: black;
    color: white;
    padding: 0.05px 5px;
    margin-bottom: 10px;
    width: 300px;
}
.one {
    position: relative;
    left: 100px; 
}
.two {
    position: relative;
    left: 50px;
}
@media screen and (max-width:700px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        
        
    }
    .section {
        width: 100%;
        font-size: 1.5rem;
    }
    .part {
        display: block;
        clear: both;
        width: 95%;
    }
    
    
    .project2 {
        padding-left: 10px;
        
    }
    .image {
        margin-bottom: 10px;
    }
    .fourth {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .black {
        position: unset;
    }
}